@model IEnumerable<DevIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a class="btn btn-outline-success" asp-action="Create"><span class="fa fa-plus"></span></a>
</p>
<partial name="_ListaProdutos" />